.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
data/HAM10000_images_part_1/
data/HAM10000_images_part_2/
anaconda_projects/
models/*.pth
notebooks/*.ipynb_checkpoints/
.DS_Store
Thumbs.db
*.log

